{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h1 class=" text-center"> ABOUT US </h1>
    <br>
<div class="row container">
    <p class="fs-4 text-center"> This is the private limited company having its registered and corporated office at chennai city of TamilNadu State in India. the 
        company was incorpated in the year of 2023 and sales started in 2024 this is the fastest growing company in chennai.</p>
    </div>
</div>

{% endblock main-content %}