{% extends "base.html" %}
{% load static %}
{% block title %}wishlist{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h1 class="text-center mb-5">Your Wishlist</h1>
    <div class="col-sm-15">
        <div class="card">
          <div class="card-body">

        {% for item in wishlist_items %}
         <div class="row">
            <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid
                img-thumbnail shadow-sm" height="150" width="150"> </div>
         <div class="col-sm-9"> 
            <div>
                <h5>{{item.product.title}}</h5>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'remove_from_wishlist' item.product.id %}" class="remove-cart btn btn-sm btn-secondary mr-3" >Remove item </a>
                       <p class="mb-0"><span><strong>Rs.{{item.product.discounted_price}}</strong></span></P>
                 </div>
            </div>
        </div>
    </div>
</div>


        {% empty %}
            <h6>You have no items in your wishlist.</h6>
        {% endfor %}
    </ul>
</div>
</div>
</div>

{% endblock main-content %}